Temp/
Library/
Logs/
Builds/
build/
*.csproj
*.sln
CorgiVsZombies.sln
.DS_Store
CorgiVsZombies.sln
Assembly-CSharp.csproj
UserSettings/EditorUserSettings.asset
UserSettings/Layouts/default-6000.dwlt
ProjectSettings/ProjectSettings.asset
ProjectSettings/ProjectSettings.asset
